<p id="notice"><%= notice %></p>

<h1>掲示板</h1>

<table>
  <thead>
    <tr>
      <th>記事一覧</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @my_threads.each do |my_thread| %>
      <tr>
        <!-- <td><%= my_thread.title %></td> -->
        <!-- <td><%= link_to 'Show', my_thread %></td> -->
        <td><%= link_to my_thread.title, my_thread_path(my_thread.id) %></td>
        <!-- <td><%= link_to my_thread.title, my_thread %></td> -->
        <td><%= link_to 'Edit', edit_my_thread_path(my_thread) %></td>
        <td><%= link_to 'Destroy', my_thread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Create New Thread', new_my_thread_path %>
